.form {
    margin:  0 auto;
    margin-top: 30px;
    width: 300px;

}

input[name="delay"] {
    height: 25px;
}
.form>label {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form>fieldset>legend{
    text-align: left;
}
button[type="submit"] {
    width: inherit;
    margin: 10px 0;
}